In [157]:
from ethnicolr import census_ln, pred_fl_reg_ln, pred_fl_reg_name
import pandas as pd
import numpy as np

In [233]:
def make_contributor_subset_chunk(df):
    """Subset the database to keep: 
    a. uniqueid (there are multiple IDs. Use one that gives a unique id for each contribution.) 
    b. columns related to name, and 
    c. year in which the contribution was made."""
    selected_cols = ['cycle', 'transaction.id',
     'date', 'contributor.name',
     'contributor.lname', 'contributor.fname',
     'contributor.mname', 'contributor.suffix',
     'contributor.title', 'contributor.ffname'
    ]
    subset_df = df
    new_col_names = [w.replace('.', '_') for w in selected_cols]
    new_cols_dict = dict(zip(selected_cols, new_col_names))
    subset_df.rename(columns=new_cols_dict, inplace=True)
    subset_df.rename(columns={'date':'contribution_year'}, inplace=True)
    return subset_df

In [249]:
def run_census_ln (subset_df, census_year):
    """Run the Census Ln Function."""
    has_last_name_df = subset_df[subset_df.contributor_lname.notnull()].copy()
    if len(has_last_name_df):
        return census_ln(has_last_name_df, 'contributor_lname', census_year)
    else:
        return pd.DataFrame()

In [250]:
def run_pred_fl_reg_ln(subset_df):
    """Run the pred_fl_reg_ln Function."""
    has_last_name_df = subset_df[subset_df.contributor_lname.notnull()].copy()
    if len(has_last_name_df):
        return pred_fl_reg_ln(has_last_name_df , 'contributor_lname')
    else:
        return pd.DataFrame()

In [251]:
def run_pred_fl_reg_name(subset_df):
    """Run Florida Data by Name"""
    has_last_name_df = subset_df[subset_df.contributor_lname.notnull()].copy()
    also_has_first_name_df = has_last_name_df[has_last_name_df.contributor_fname.notnull()].copy()
    if len(also_has_first_name_df):
        return pred_fl_reg_name(also_has_first_name_df, 'contributor_lname', 'contributor_fname')
    else:
        return pd.DataFrame()

In [307]:
import gzip
import os

def main_process_chunk(selected_csv):
    """Consolidate the steps in the data collation and sanitization."""
    m = re.match('.*?(\d+).*', selected_csv)
    if m:
        year = m.group(1)
    dime_database_file = selected_csv 
    selected_cols = ['cycle', 'transaction.id',
     'date', 'contributor.name',
     'contributor.lname', 'contributor.fname',
     'contributor.mname', 'contributor.suffix',
     'contributor.title', 'contributor.ffname'
    ]
    predictor_list = [{'name': 'census_ln_2000',
                              'function': lambda df: run_census_ln(df, 2000),
                              'outfile': None},
                            {'name': 'census_ln_2010',
                              'function': lambda df: run_census_ln(df, 2010),
                              'outfile': None},
                            {'name': 'pred_fl_reg_ln',
                              'function': run_pred_fl_reg_ln,
                              'outfile': None},
                            {'name': 'pred_fl_reg_name',
                              'function': run_pred_fl_reg_name,
                              'outfile': None},
                           ]
    dedup_keys = set()
    i = 0
    try:
        for data_df in pd.read_csv(dime_database_file, encoding='latin', usecols=selected_cols, low_memory=False, chunksize=100000):
            i += 1
            print(i)
            subset_df = make_contributor_subset_chunk(data_df)
            subset_df = subset_df[subset_df.contribution_year.notnull() & subset_df.contribution_year.str.contains('(?:19|20)\d\d\-\d\d\-\d\d.*')].copy()
            subset_df['annual_contrib_key'] = subset_df['contributor_name'] + pd.to_datetime(subset_df['contribution_year']).dt.year.astype(str)
            subset_df.drop_duplicates(subset=['annual_contrib_key'], keep=False, inplace=True)
            unique_contributors = subset_df.loc[~subset_df['annual_contrib_key'].isin(dedup_keys), :].copy()
            dedup_keys.update(subset_df['annual_contrib_key'].to_list())
            unique_contributors.drop(columns=['annual_contrib_key'], inplace=True)
            #print(len(dedup_keys))
            for p in predictor_list:
                results = p['function'](unique_contributors)
                if len(results) == 0:
                    continue
                if p['outfile'] is None:
                    fn = os.path.join('/opt/data/dime-race/', '{}_dime_{}_results.csv.gz'.format(year, p['name']))
                    print(fn)
                    p['outfile'] = gzip.open(fn, 'wt')
                    results.to_csv(p['outfile'], index=False, header=results.columns)
                else:
                    results.to_csv(p['outfile'], index=False, header=False, mode='at')
        for p in predictor_list:
            p['outfile'].close()
    except Exception as e:
        raise
        print('ERROR:', e)
    return subset_df

In [308]:
from os import path
from glob import glob
import re

sdf = None
for selected_csv in sorted(glob('/opt/data/dime-race/contribDB_*.csv.gz')):
    """Execute a single run of data fro dataset."""
    print(selected_csv)
    sdf = main_process_chunk(selected_csv)
    #break

/opt/data/dime-race/contribDB_2008.csv.gz
1
/opt/data/dime-race/2008_dime_census_ln_2000_results.csv.gz
/opt/data/dime-race/2008_dime_census_ln_2010_results.csv.gz
/opt/data/dime-race/2008_dime_pred_fl_reg_ln_results.csv.gz
/opt/data/dime-race/2008_dime_pred_fl_reg_name_results.csv.gz
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
/opt/data/dime-race/contribDB_2010.csv.gz
1
/opt/data/dime-race/2010_dime_census_ln_2000_results.csv.gz
/opt/data/dime-race/2010_dime_census_ln_2010_results.csv.gz
/opt/data/dime-race/2010_dime_pred_fl_reg_ln_results.csv.gz
/opt/data/dime-race/2010_dime_pred_fl_reg_name_results.csv.gz
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
/opt/data/dime-race/contribDB_2012.csv.gz
1
/opt/data/dime-race/2012_dime_census_ln_2000_results.csv.gz
/opt/data/dime-race/2012_dime_census_ln_2010_results.csv.gz
/opt/data/dime-race/2012_dime_pred_fl_reg_ln_results.csv.gz
/opt/data/dime-race/2012_dime_pred_fl_reg_name_results.csv.gz
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
/opt/data/dime-race/contribDB_2014.csv.gz
1
/opt/data/dime-race/2014_dime_census_ln_2000_results.csv.gz
/opt/data/dime-race/2014_dime_census_ln_2010_results.csv.gz
/opt/data/dime-race/2014_dime_pred_fl_reg_ln_results.csv.gz
/opt/data/dime-race/2014_dime_pred_fl_reg_name_results.csv.gz
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232

In [309]:
df = pd.read_csv('/opt/data/dime-race/2014_dime_pred_fl_reg_name_results.csv.gz')
df

,cycle,transaction_id,contribution_year,contributor_name,contributor_lname,contributor_fname,contributor_mname,contributor_suffix,contributor_title,contributor_ffname,race,asian,hispanic,nh_black,nh_white
0,2014,CA:1438763_INC13_2014_0_,2009-03-05,"hayes, janet gray",hayes,janet,gray,NaN,NaN,janet gray,nh_white,0.002450,0.005534,0.148020,0.843995
1,2014,CA:1438763_INC21_2014_0_,2009-03-20,"dailey, thomas m",dailey,thomas,m,NaN,NaN,thomas m,nh_white,0.002412,0.003960,0.038342,0.955286
2,2014,CA:1438763_INC24_2014_0_,2009-03-20,"giberson, margaret",giberson,margaret,NaN,NaN,NaN,margaret,nh_white,0.001794,0.005311,0.117157,0.875738
3,2014,CA:1438763_INC25_2014_0_,2009-03-20,"hooper, gregory f",hooper,gregory,f,NaN,NaN,gregory f,nh_white,0.002038,0.002623,0.149545,0.845794
4,2014,CA:1438763_INC26_2014_0_,2009-03-20,"lewis, william spencer",lewis,william,spencer,NaN,NaN,william spencer,nh_white,0.000905,0.004268,0.085702,0.909125
5,2014,CA:1438763_INC27_2014_0_,2009-03-20,"miller, kathleen mae",miller,kathleen,mae,NaN,NaN,kathleen mae,nh_white,0.002555,0.004558,0.033099,0.959788
6,2014,CA:1438763_INC29_2014_0_,2009-03-20,"walters, kim",walters,kim,NaN,NaN,NaN,kim,nh_white,0.007789,0.003099,0.160539,0.828573
7,2014,CA:1460289_INC100_2014_0_,2009-08-24,"boyarsky, jay s",boyarsky,jay,s,NaN,NaN,jay s,nh_white,0.001936,0.008696,0.003957,0.985411
8,2014,CA:1460289_INC105_2014_0_,2009-08-24,"francisco, ferdinand d",francisco,ferdinand,d,NaN,NaN,ferdinand d,nh_white,0.035581,0.242564,0.059238,0.662617
9,2014,CA:1460289_INC106_2014_0_,2009-08-24,"kim, tae yun",kim,tae,yun,NaN,NaN,tae yun,asian,0.993565,0.000234,0.001628,0.004573
10,2014,CA:1460289_INC107_2014_0_,2009-08-24,"kolstad, patrick",kolstad,patrick,NaN,NaN,NaN,patrick,nh_white,0.017509,0.008029,0.004631,0.969831
11,2014,CA:1460289_INC112_2014_0_,2009-08-24,"rosen, jeffrey f",rosen,jeffrey,f,NaN,NaN,jeffrey f,nh_white,0.002927,0.015320,0.007545,0.974208
12,2014,CA:1460289_INC115_2014_0_,2009-08-24,"surace, marita",surace,marita,NaN,NaN,NaN,marita,nh_white,0.145714,0.179844,0.163689,0.510753
13,2014,CA:1460289_INC116_2014_0_,2009-08-24,"meeker, william c",meeker,william,c,NaN,NaN,william c,nh_white,0.000753,0.004458,0.010288,0.984500
14,2014,CA:1460289_INC80_2014_0_,2009-07-29,"diridon, rod",diridon,rod,NaN,sr,NaN,rod,nh_white,0.022678,0.046545,0.126267,0.804509
15,2014,CA:1460289_INC82_2014_0_,2009-07-29,"fox, michael e",fox,michael,e,NaN,NaN,michael e,nh_white,0.001817,0.007733,0.040736,0.949714
16,2014,CA:1460289_INC87_2014_0_,2009-08-10,"kieve, robert s",kieve,robert,s,NaN,NaN,robert s,nh_white,0.001440,0.004578,0.018771,0.975211
17,2014,CA:1460289_INC88_2014_0_,2009-08-10,"kissner, chuck d",kissner,chuck,d,NaN,NaN,chuck d,nh_white,0.121804,0.014234,0.009019,0.854943
18,2014,CA:1460289_INC89_2014_0_,2009-08-12,"king, kathleen m",king,kathleen,m,NaN,NaN,kathleen m,nh_white,0.006764,0.005361,0.100528,0.887347
19,2014,CA:1460289_INC91_2014_0_,2009-08-12,"roberts, christopher",roberts,christopher,NaN,NaN,NaN,christopher,nh_white,0.003759,0.011552,0.100689,0.884000
20,2014,CA:1460289_INC97_2014_0_,2009-08-19,"bolger, brenna m",bolger,brenna,m,NaN,NaN,brenna m,nh_white,0.002521,0.013955,0.018302,0.965222
21,2014,CA:1490638_INC10_2014_0_,2010-03-26,"barcelona, linda",barcelona,linda,NaN,NaN,NaN,linda,nh_white,0.011489,0.202734,0.019082,0.766695
22,2014,CA:1490638_INC11_2014_0_,2010-03-26,"baugh, wendy",baugh,wendy,NaN,NaN,NaN,wendy,nh_white,0.001781,0.006601,0.025891,0.965727
23,2014,CA:1490638_INC14_2014_0_,2010-03-26,"crow, michael",crow,michael,NaN,NaN,NaN,michael,nh_white,0.001778,0.008798,0.015328,0.974096
24,2014,CA:1490638_INC15_2014_0_,2010-03-26,"darc, thornton",darc,thornton,NaN,NaN,NaN,thornton,nh_white,0.002784,0.010575,0.126495,0.860147
25,2014,CA:1490638_INC16_2014_0_,2010-03-26,"debenedetto, denise",debenedetto,denise,NaN,NaN,NaN,denise,nh_white,0.004124,0.032014,0.005672,0.958190
26,2014,CA:1490638_INC19_2014_0_,2010-03-26,"dolan, marianne",dolan,marianne,NaN,NaN,NaN,marianne,nh_white,0.006370,0.015747,0.017095,0.960788
27,2014,CA:1490638_INC20_2014_0_,2010-03-26,"duncan, james",duncan,james,NaN,NaN,NaN,james,nh_white,0.002811,0.002148,0.165858,0.829183
28,2014,CA:1490638_INC21_2014_0_,2010-03-26,"dwyer, j devin",dwyer,j devin,devin,NaN,NaN,j devin,nh_white,0.005780,0.018076,0.049888,0.926256
29,2014,CA:1490638_INC22_2014_0_,2010-03-26,"eadington, linda",eadington,linda,NaN,NaN,NaN,linda,nh_white,0.002700,0.004950,0.087847,0.904503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3132581,2014,e:ind:2014:15072000282488,2015-06-18,"park, dong",park,dong,NaN,NaN,NaN,dong,asian,0.965124,0.000413,0.002181,0.032283
3132582,2014,e:ind:2014:15072000282487,2015-06-05,"naarendorp, michael",naarendorp,michael,NaN,NaN,NaN,michael,nh_white,0.002358,0.008596,0.035676,0.953370
3132583,2014,e:ind:2014:15072000282486,2015-04-16,"moses, edward",moses,edward,NaN,NaN,NaN,edward,nh_white,0.005502,0.067212,0.058147,0.869139
3132584,2014,e:ind:2014:15072000282483,2015-06-18,"lewis, carol sutton",lewis,carol,sutton,NaN,NaN,carol sutton,nh_white,0.001779,0.004580,0.154305,0.839337
3132585,2014,e:ind:2014:15072000282482,2015-06-22,"lee, suk chan",lee,suk chan,NaN,NaN,NaN,suk chan,asian,0.791667,0.005121,0.029095,0.174117
3132586,2014,e:ind:2014:15072000282478,2015-06-19,"knuckles, kenneth j",knuckles,kenneth,j,esq,NaN,kenneth j,nh_white,0.001167,0.003651,0.129688,0.865494
3132587,2014,e:ind:2014:15072000282477,2015-04-07,"kaufman, stephen e",kaufman,stephen,e,NaN,NaN,stephen e,nh_white,0.001390,0.012218,0.001427,0.984965
3132588,2014,e:ind:2014:15072000282476,2015-04-20,"jyi, david",jyi,david,NaN,NaN,NaN,david,nh_white,0.272188,0.047371,0.132398,0.548042
3132589,2014,e:ind:2014:15072000282475,2015-04-14,"hudson, yvonne",hudson,yvonne,NaN,NaN,NaN,yvonne,nh_white,0.004797,0.014135,0.421840,0.559228
3132590,2014,e:ind:2014:15072000282474,2015-06-12,"hubbard, william n n",hubbard,william n,n,iii,NaN,william n n,nh_white,0.011705,0.005499,0.074463,0.908333
3132591,2014,e:ind:2014:15072000282471,2015-06-12,"higginbottom, elzie",higginbottom,elzie,NaN,NaN,NaN,elzie,nh_white,0.011755,0.023240,0.010200,0.954806
3132592,2014,e:ind:2014:15072000282470,2015-04-21,"hardy, michael a",hardy,michael,a,NaN,NaN,michael a,nh_white,0.002136,0.006991,0.093357,0.897516
3132593,2014,e:ind:2014:15072000282469,2015-04-20,"hadera, asfaha",hadera,asfaha,NaN,NaN,NaN,asfaha,asian,0.697543,0.031393,0.173380,0.097684
3132594,2014,e:ind:2014:15072000282468,2015-05-01,"graves, conrad",graves,conrad,NaN,NaN,NaN,conrad,nh_white,0.006879,0.019844,0.275893,0.697384
3132595,2014,e:ind:2014:15072000282467,2015-06-29,"goldstein, jeffrey p",goldstein,jeffrey,p,NaN,NaN,jeffrey p,nh_white,0.001299,0.008189,0.002208,0.988304
3132596,2014,e:ind:2014:15072000282466,2015-04-06,"frommer, ross a",frommer,ross,a,NaN,NaN,ross a,nh_white,0.002656,0.002682,0.009723,0.984939
3132597,2014,e:ind:2014:15072000282465,2015-06-17,"ezrapour, robert",ezrapour,robert,NaN,NaN,NaN,robert,nh_white,0.001606,0.006504,0.007847,0.984044
3132598,2014,e:ind:2014:15072000282464,2015-04-20,"eastmond, arlington leon",eastmond,arlington,leon,NaN,NaN,arlington leon,nh_black,0.004005,0.008895,0.895795,0.091304
3132599,2014,e:ind:2014:15072000282463,2015-06-18,"duncan, blair",duncan,blair,NaN,NaN,NaN,blair,nh_white,0.003711,0.025614,0.249516,0.721159
3132600,2014,e:ind:2014:15072000282454,2015-04-20,"douglas, lloyd",douglas,lloyd,NaN,NaN,NaN,lloyd,nh_black,0.001338,0.001344,0.608532,0.388787
3132601,2014,e:ind:2014:15072000282453,2015-04-20,"dickens richards, delores",dickens richards,delores,NaN,NaN,NaN,delores,nh_white,0.002809,0.015018,0.278120,0.704052
3132602,2014,e:ind:2014:15072000282452,2015-04-02,"davis, j morton j",davis,j morton,j,NaN,NaN,j morton j,nh_white,0.001708,0.006323,0.169508,0.822462
3132603,2014,e:ind:2014:15072000282445,2015-04-20,"chilliest, anthony s",chilliest,anthony,s,NaN,NaN,anthony s,nh_white,0.002265,0.008765,0.369082,0.619888
3132604,2014,e:ind:2014:15072000282444,2015-06-17,"cerulli, maurice a",cerulli,maurice,a,NaN,NaN,maurice a,nh_white,0.008455,0.044910,0.037166,0.909468
3132605,2014,e:ind:2014:15072000282443,2015-06-18,"butts, calvin o",butts,calvin,o,iii,NaN,calvin o,nh_white,0.005532,0.014501,0.349803,0.630164
3132606,2014,e:ind:2014:15072000282442,2015-06-19,"brescia, michael j",brescia,michael,j,m d,NaN,michael j,nh_white,0.003405,0.041804,0.005638,0.949152
3132607,2014,e:ind:2014:15072000282441,2015-06-22,"alicea, victor g",alicea,victor,g,phd,NaN,victor g,hispanic,0.009636,0.629537,0.020266,0.340561
3132608,2014,e:ind:2014:15072000273752,2015-05-24,"el chammas, saleem",el chammas,saleem,NaN,NaN,NaN,saleem,asian,0.486284,0.038332,0.093663,0.381721
3132609,2014,e:ind:2014:15072000232476,2015-04-16,"englander, binah miller",englander,binah miller,NaN,NaN,NaN,binah miller,nh_white,0.014848,0.025406,0.051977,0.907769
3132610,2014,e:ind:2016:15072000038764,2014-09-03,"miles, gregory d",miles,gregory,d,sr,NaN,gregory d,nh_white,0.001788,0.003026,0.163689,0.831498